
.botao-cancelar{
    background-color: var(--danger-color);
    color: white;
    border-color:  var(--danger-color);
    text-transform: uppercase; 
    border-radius: 50px ;
    padding: 5px 15px 5px 15px;
}
.botao-apagar{
    background-color: var(--success-color);
    color: white;
    border-color:  var(--success-color);
    text-transform: uppercase; 
    border-radius: 50px ;
    padding: 5px 15px 5px 15px;
}
