/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;}

html {
    scroll-behavior: smooth;
}

/*Fontes Padrão:*/

.fontRoboto {
    font-family: 'Roboto', sans-serif;
}

/*Muito usado:*/

.border-r{
    border-radius: 50px 50px 50px 50px;
}

:root {
    --main-color: #ADAC33;
    --primary-color: #E66C1F;
    --secondary-color: #F3DCAF;
    --success-color: #ADAC33;
    --danger-color: #C4C4C4;
    --info-color: #E66C1F;
  }

.color-button-cancelar{
    background-color: var(--danger-color);
    color: white;
}

.color-button-success{
    background-color: var(--success-color);
    color: white;
}

.color-button-info{
    background-color: var(--info-color);
    color: white;
}

/* .button-hover button:hover{
    transform: scale(1.1);
    transition: 0.3s;
} */