.border-r{
    border-radius: 50px 50px 50px 50px;
}

.botao-cor-especial {
    background-color: #E66C1F;
    color: white;
}

.botao-cor-compra{
    background-color: #45B264;
    color: white;
}

.borda-cor-especial {
    border-color: rgb(184, 182, 178);
}

.card-posicao-imagem {

    height: 250px;
    width: 250px;
}
.card-largura {
    max-width: 18rem;
    border-radius: 10px;
}