    <div class="container">
        <h2 class="text-center text-uppercase"><i class="fa fa-truck" aria-hidden="true"></i> Acima de R$ 300,00 = <b>frete grátis!</b></h2>
    </div>
        <div class="p-5 pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i><b> Informações de entrega</b>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div>
                  <input type="text" placeholder="Nome do destinatário" aria-describedby="button-addon3" class="border-0 form-control">
                  <hr class="mt-2 mb-2">
                </div>
                <div>
                    <input type="text" placeholder="CEP" aria-describedby="button-addon3" class="border-0 form-control">
                    <hr class="mt-2 mb-2">
                </div>
                <div>
                  <input type="text" placeholder="Número" aria-describedby="button-addon3" class="border-0 form-control">
                  <hr class="mt-2 mb-2">
                </div>
                <div>
                  <input type="text" placeholder="Informações adicionais" aria-describedby="button-addon3" class="border-0 form-control">
                  <hr class="mt-2 mb-2">
                </div>
              </div>
            </div>
    </div>
</div>    
                    
<div class="row">
  <div class="col-md-12">
    <p class="p-4 text-center">Olá! Os produtos no carrinho não ficam reservados.
      Finalize a compra e aproveite antes que acabem!</p>
  </div>
</div>
                        
<div class="container">
  <div class="row">
    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
      <!-- Shopping cart table -->
      <div class="table-responsive">
        <table class="table">
          <thead>
              
              
            <tr>
              <th class="col" class="border-0">
                <div class="py-2 px-3 text-uppercase">Produto</div>
              </th>
              <th class="col" class="border-0">
                <div class="py-2 text-uppercase">Quantidade</div>
              </th>
              <th class="col" class="border-0">
                <div class="py-2 text-uppercase">Total</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="border-0">
                <div class="p-2">
                  <img src="{{produto.fotoProduto}}" alt="" width="180" class="img-fluid rounded shadow-sm">
                  <div class="ml-3 d-inline-block align-middle">
                    <h5 class="mb-0"><a href="#" class="text-dark d-inline-block align-middle">{{produto.nomeProduto}}</a></h5>
                    <p class="textfont-weight-normal font-italic d-block">{{produto.categoria.nomeCategoria}}</p>
                  </div>
                </div>
              </th>
              
              <div class="quantity">
                <button class="plus-btn btn-cart" type="button" name="button">
                  <h5 (click)="mudarQuantiMenos()">-</h5>
                </button>
                <input type="text" name="name" value="{{quant}}">
                <button class="minus-btn btn-cart" type="button" name="button">
                  <h5 (click)="mudarQuantiMais()">+</h5>
                </button>
              </div>
                <td class="border-0 align-middle"><strong>{{produto.valorProduto}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <div class="px-4 text-uppercase font-weight-bold"><b>Cupom de desconto</b></div>
      <div class="p-4">
        <div class="input-group mb-4 border p-2">
          <input type="text" placeholder="Digite aqui o seu cupom" aria-describedby="button-addon3" class="form-control border-0">
          <div class="input-group-append border-0 inputConf">
          </div>
          <button type="button" class="btn buttonStyle text-white"><b>OK</b></button>
        </div>
      </div>

      <div class="p-4">
        <p class="font-italic mb-4">Se você tem alguma informação adicional, escreva abaixo:</p>
        <textarea name="" cols="30" rows="2" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-lg-7">
      <h3 class="rounded-pill px-4 text-uppercase font-weight-bold">Resumo da Compra </h3>
      <div class="p-4">
        <ul class="list-unstyled mb-5">
          <li class="d-flex justify-content-between"><div class="text-uppercase"><i>Subtotal </i></div><strong>R$ {{produto.valorProduto}}</strong></li>
          <li class="d-flex justify-content-between"><div class="text-uppercase"><i>Descontos</i></div><strong>R$0.00</strong></li>
          <li class="d-flex justify-content-between"><div class="text-uppercase"><i>Cupom</i></div><strong>R$0.00</strong></li>
          <li class="d-flex justify-content-between"><div class="text-uppercase"><i>Frete</i></div><strong>R$0.00</strong></li>
          <hr class="mt-5 mb-5">
          <li class="d-flex justify-content-between"><div class="text-uppercase"><i>Total</i></div>
            <h5 class="font-weight-bold">R$ {{produto.valorProduto}} </h5>
          </li>
        </ul>
        
        <div class="row justify-content-center">
          <div class="col-md-5 button-hover">
              <button class="color-button-cancelar botao-tamanho btn btn-success mt-2 rounded-pill" routerLink="/buscar-produtos">Continuar compra</button>
          </div>
          <div class="col-md-5 button-hover">
              <button class="color-button-success botao-tamanho btn btn-success mt-2 rounded-pill">Finalizar compra</button>
          </div>                
      </div>
    </div>
  </div>
</div>
</div>
