<div class="detalhe-produto">
  <h1>Produto</h1>
  <div class="descricao" >

      <div class="imagem">
          <img src="{{produto.fotoProduto}}" alt="Imagem do produto">
      </div>

      <div class="conteudo">
        <h5>{{produto.nomeProduto}}</h5>
        <p>Descrição: {{produto.descricaoProduto}}</p>
        <p>Categoria: {{produto.categoria.nomeCategoria}}</p>
        <h6 class="conteudo-valor">{{produto.valorProduto | currency: "BRL"}}</h6>
        <p>
          <i class="fa fa-credit-card" aria-hidden="true"></i>Parcelamos em até 3x
        </p>
        <button class="btn button-adicionar" [routerLink]="['/carrinho-compras', produto.id]">Adicionar ao carrinho</button>
        <button class="btn button-cancelar" [routerLink]="['/buscar-produtos']">Cancelar</button>
    </div>

  </div>
</div>