.fonte-titulo {
    font-family: 'Roboto', sans-serif;
}
.form-control{
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    color: #808080;
    background-color:#FEFFDE;
}
.botao-cor-especial {
    background-color: var(--success-color);
    color: white;
    border-color:  var(--success-color);
}
.botao-tamanho {
    width: 350px;
}

.button-hover button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}