<div class="container-fluid">     
  
    <div class="container-fluid bg-light ">
        <section class="row justify-content-center fontRoboto">
            <article class="card borda-cor-especial card-largura p-0 m-4 col-12">
            <img src="" class=" card-posicao-imagem" alt="carangueijo">
            <div class="card-body">
                <h5 class="card-title text-center ">Caneca Mangrove</h5>
                    <p class="card-text text-center">R$: 15,00 unidade</p>
              
              <div class="d-flex flex-column">
                <button href="#" class="btn botao-cor-especial  border-r px-4 py-0 m-0 mb-3" >Adicionar ao Carrinho</button>
                <button class="btn botao-cor-compra border-r px-4 py-0 "> Comprar</button>
              </div>  
            </div>
    </article>
</section>
</div>
</div>



