<body>
    <div class="">
    <div class="container">
        <h1 class="text-center mt-4"><b>QUEM SOMOS?</b></h1>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                 <h4 class="text-justify mt-3">
    O projeto Mangrove é um e-commerce que tem como meta atuar com base no Objetivo de Desenvolvimento Sustentável (ODS) #10 da Organização das Nações Unidas (ONU), que por sua vez se dedica a redução da desigualdade entre países e dentro deles. Com isso, a Mangrove atribui a si como atividade principal o comércio de pescados e souvenirs diversos sob a intenção de reverter seus valores às famílias de pescadores e pescadores artesanais residentes da Reserva Extrativista Acaú-Goiana (RESEX Acaú-Goiana), potencializando sua renda e consequentemente seu padrão social. </h4>
</div>
 
<div class="col-md-6">
    <img class="img-fluid mb-3 justify-content-center rounded float-right" width="350" height="350" src="https://i.imgur.com/luqab8G.png" alt="foto-logo-mangrove">
</div>
</div>
</div>
</div>

<div class="container-fluid mt-5">
    <div class="col-md-12 d-flex">
        <div align="center">
            <img class="img-fluid" src="https://i.imgur.com/9C0LzaB.png" alt="foto-missao-mangrove">  <div class="w-25 p-3"></div>
    </div>
</div>
</div>
 
<div class="container-fluid">
<div class="row justify-content-center">
    <h1 class="text-center mt-3"><b>EQUIPE DESENVOLVEDORA</b></h1>
   
</div>
</div>
 
<div class="container-fluid mt-2">
<section id="card">
 <div class="container">
 <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-3">
      <div class="card">
        <img src="https://imgur.com/s6Tv95e.jpg" class="card-img-top" alt="Barbara Salla">
        <div class="card-body">
            <div align="center">
            <h4 class="card-title">Barbara Salla</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/barbarasalla/">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/barbara-salla/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:barbara.msalla@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
      </div>
    </div>
</div>
    <div class="col mb-3">
      <div class="card">
        <img src="https://imgur.com/34fWdOQ.jpg" class="card-img-top" alt="Claudio Pereira">
        <div class="card-body">
            <div align="center">
            <h4 class="card-title">Cláudio Pereira</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/nnetomoura">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/claudiomourapereira/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:claudio.prepara0@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
      </div>
    </div>
</div>
    <div class="col mb-3">
      <div class="card text-dark">
        <img src="https://imgur.com/8bjtgGM.jpg" class="card-img-top mr-2 rounded" width="20" alt="Dilma Oliveira">
        <div class="card-body">
            <div align="center">
          <h4 class="card-title">Dilma Oliveira</h4>
          <div class="links-contatos">
            <a class="icon-github" href="https://github.com/oliveirababbi/">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a class="icon-linkedin" href="https://www.linkedin.com/in/babboliveira/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="icon-envelope" href="mailto:oliveirababbi@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card">
        <img src="https://imgur.com/FmsXd2Y.jpg" class="card-img-top" alt="Isabelly Lemos">
        <div class="card-body">
            <div align="center">
          <h4 class="card-title">Isabelly Lemos</h4>
          <div class="links-contatos">
            <a class="icon-github" href="https://github.com/samyllesmarcione">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a class="icon-linkedin" href="https://www.linkedin.com/in/isabelly-lemos/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="icon-envelope" href="mailto:isabellylemos.ml@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div></div>
      </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 justify-content-center">
    <div class="col mb-3">
        <div class="card">
          <img src="https://imgur.com/K7dK6iX.jpg" class="card-img-top" alt="Leonardo Santos">
          <div class="card-body">
            <div align="center">
            <h4 class="card-title">Leonardo Santos</h4>
            <div class="links-contatos">
                <a class="icon-github" href="http://github.com/leofsantos">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="http://linkedin.com/in/leonardo-fs">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:leonardo.filipe.snts@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
        </div>
      </div>
    </div>
      <div class="col mb-3">
        <div class="card">
          <img src="https://imgur.com/0iMXth2.jpg" class="card-img-top" alt="Maria Julia Lemos">
          <div class="card-body">
            <div align="center">
            <h4 class="card-title">Maria Julia Lemos</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/mrjulia22">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/maria-julia-lemos/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:maria.jaraujo@ufpe.br">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div></div>
      </div>
    </div>
      <div class="col mb-3">
        <div class="card">
          <img src="https://imgur.com/zNIL87a.jpg" class="card-img-top" alt="Samylles Marcione">
          <div class="card-body">
            <div align="center">
            <h4 class="card-title">Samylles Marcione</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/samyllesmarcione">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/samyllesmarcione/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:samylles@protonmil.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
        </div>
      </div>
    </div>
</div></div></div>
</section>
</div>
</body>