.quem-somos h1 {
    font-size: 90px;
    font: #000000;
}
 
.card {
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    border-radius: 15px;
    padding: 15px;
    justify-content: center;
  }
 
.card-body {
    background: #FEFFDE;
}
 
.icon-github{
    margin: 0 15px;
    width: 100px;
    height: 100px;
    color: #E66C1F;
    justify-content: center;
    align-items: center;
    transition: 0.4;
    font-size: 30px;
}
 
.icon-linkedin{
    margin: 0 15px;
    width: 100px;
    height: 100px;
    color: #E66C1F;
    justify-content: center;
    align-items: center;
    transition: 0.4;
    font-size: 30px;
}
 
.icon-envelope{
    margin: 0 15px;
    width: 100px;
    height: 100px;
    color: #E66C1F;
    justify-content: center;
    align-items: center;
    transition: 0.4;
    font-size: 30px;
}
        
.fa-github {
    color: #E66C1F;
}
 
.fa-linkedin {
    color: #E66C1F;
}
    
.fa-envelope {
    color: #E66C1F;
}

/* .cardM:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 15px 15px rgba(0,0,0,0.11),
     0px 15px 15px #E66C1F;
  } */

  .cards:hover {
    color: #000000;
    transform: scale(1.1);
    transition: 0.3s;
  }