@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


a{
    cursor: pointer;
}

.navbar-custom{
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px 20px 20px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}

.menu-icons{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width:991px) {
    .menu-icons{
        flex-direction: column;
    }
    .menu-icons li{
        padding: 0 !important;
    }
}

.dropdown-custom{
    background-color: var(--secondary-color);
    border: 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-item-custom{
    color: rgba(0,0,0,.5);
}

.dropdown-item-custom:hover{
    background-color: var(--secondary-color);
    font-weight: 600;
    color:black;
}

.fa{
    font-size: 27px;
    color: rgba(0,0,0,.5);
}

.fa:hover{
    color: black;
}

.navbar-custom-adm{
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    margin: 5px 15px 0px 15px;
    letter-spacing: 2px;
    z-index: 1;
    padding: 0;
    text-transform: uppercase;
}

.font-adm{
    color: aliceblue;
    text-decoration: none;
}
.nav-adm{
padding-left: 20px;
padding-right: 20px;
}

.nav-adm a:hover{
    color: rgba(0,0,0,.5);
}