<footer class="page-footer">

    <div class="footer-links">

        <div class="logomarca">
            <img src="https://i.imgur.com/J0ZmbRn.png" alt="Logomarca" >
        </div>

        <div class="links">
            <div class="links-gerais">
                <div class="nossa-loja">
                    <h5>Nossa loja</h5>
                    <ul>
                        <li>
                            <a routerLink="/categoria">Categorias</a>
                        </li>
                        <li>
                            <a routerLink="/buscar-produtos">Todos os produtos</a>
                        </li>
                    </ul>
                </div>
                <div class="fale-conosco">
                    <h5>Fale conosco</h5>
                    <ul>
                        <li>
                            <a routerLink="#">De seg-sex das 9h às 16h</a>
                        </li>
                        <li>
                            <a routerLink="mailto:generation.mangrove@gmail.com">generation.mangrove@gmail.com</a>
                        </li>
                        <li>
                            <a routerLink="/faq">Dúvidas frequentes (FAQ)</a>
                        </li>
                    </ul>                    
                </div>

                <div class="sobre-mangrove">
                    <h5>Mangrove</h5>
                    <ul>
                        <li>
                            <a routerLink="/componente-raizes">Nossos Produtos</a>
                        </li>
                        <li>
                            <a routerLink="/componente-sobre-nos">Sobre nós</a>
                        </li>
                    </ul>
                </div>

                <div class="seu-acesso">
                    <h5>Seu acesso</h5>
                    <ul>
                        <li>
                            <a routerLink="/entrar">Login</a>
                        </li>
                        <li>
                            <a routerLink="/cadastrar">Cadastrar</a>
                        </li>
                        <li>
                            <a routerLink="#">Meu usuário</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/mrjulia22/Projeto_integrador" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-email" href="mailto:generation.mangrove@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        <p class="titulo-copyright"> 2022 Copyright: Mangrove </p>
        <p class="subtitulo-copyright">Projeto desenvolvido sem fins lucrativos para projeto estudantil</p>
    </div>

</footer>