<div class="mt-3">
    <div class="col-md-12 d-flex">
        <a target="_blank"
            href="https://www.icmbio.gov.br/portal/images/stories/manguezais/atlas_dos_manguezais_do_brasil.pdf">
            <img class="img-fluid" src="https://i.imgur.com/3o15yaQ.jpg" alt="Manguezal">
        </a>
    </div>
</div>
<div class="container">
    <h1 class="text-center mt-5">O QUE É?</h1> 
    <h4 class="text-justify mt-2">
        O manguezal é considerado um ecossistema costeiro de transição entre os ambientes terrestre e marinho.
        Característico de regiões tropicais e subtropicais, está sujeito ao regime das marés, dominado por espécies
        vegetais típicas, às quais se associam a outros componentes vegetais e animais. A riqueza biológica dos
        ecossistemas costeiros faz com que essas áreas sejam os grandes "berçários" naturais, tanto para as espécies
        características desses ambientes, como para peixes e outros animais que migram para as áreas costeiras durante,
        pelo menos, uma fase do ciclo de sua vida.
    </h4>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h1 class="fontRoboto">ONDE FICA?</h1>
            <h4 class="mt-2 text-justify fontRoboto">
                No Brasil, existem cerca de 25.000 km² de florestas de mangue, representando mais de 12% dos manguezais
                do mundo inteiro. Os manguezais estão distribuídos desde o Amapá até Laguna, em Santa Catarina, no
                litoral brasileiro. O projeto Mangrove é voltado para populações tradicionais situadas na Unidade de
                Conservação RESEX (Reserva Extrativista) Acaú-Goiana, situada entre os estados da Paraíba (Município de
                Pitumbú) e Pernambuco (Cidade de Goiana).
            </h4>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://imgur.com/GwdD3FZ.png" alt="Resex + mapa">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="mt-4">PESCADORES(AS)</h1>
    </div>
</div>

<div class="container">
    <div class="row">
    </div>
</div>
<div class="container">
<div id="carouselExampleControls" class="carousel slide mt-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                <div class="card rounded-lg border border-warning">
                    <img src="https://static.meionorte.com/uploads/imagens/2019/7/31/thumb/c-400-300-q-90-beneficiamento-de-mariscos-melhora-vida-de-mulheres-29e34c4b-ce73-4c5f-b4af-f956d20070ea.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Maria Lúcia</h4>
                        <p class="card-text">Catadora de mariscos.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
                <div class="card rounded-lg border border-warning">
                    <img src="http://4.bp.blogspot.com/-3AMmvdwqzwg/VRQyvsUgzHI/AAAAAAACgKo/INt8Xl8iXDk/s400/1.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">José Ferreira</h4>
                        <p class="card-text">Catador de caranguejos.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
                <div class="card rounded-lg border border-warning">
                    <img src="https://www.fatosdesconhecidos.com.br/wp-content/uploads/2018/05/9-2-400x300.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Marcos Silva</h4>
                        <p class="card-text">Pescador de peixes de porte médio/grande.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card rounded-lg border border-warning">
                    <img src="https://static.meionorte.com/uploads/imagens/2019/7/31/thumb/c-400-300-q-90-beneficiamento-de-mariscos-melhora-vida-de-mulheres-29e34c4b-ce73-4c5f-b4af-f956d20070ea.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Maria Lúcia</h4>
                        <p class="card-text">Catadora de mariscos.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
                <div class="card rounded-lg border border-warning">
                    <img src="http://4.bp.blogspot.com/-3AMmvdwqzwg/VRQyvsUgzHI/AAAAAAACgKo/INt8Xl8iXDk/s400/1.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">José Ferreira</h4>
                        <p class="card-text">Catador de caranguejos.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
                <div class="card rounded-lg border border-warning">
                    <img src="https://www.fatosdesconhecidos.com.br/wp-content/uploads/2018/05/9-2-400x300.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Marcos Silva</h4>
                        <p class="card-text">Pescador de peixes de porte médio/grande.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>